body{
    background-image: url(yellow.png);
}



.add-capability input[type="text"]{
    width: 175px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 46%;

  }



.add-capability input[type="submit"]{
    background-color: #1c5886;
    color: aliceblue;
    margin-left: 50%;
}


.add-capability form input[type="checkbox"]{
    margin-left: 46%;
}

.add-capability .description input[type="text"]{
    width: 175px;
    color:#1c5886;

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 46%;
}

h3{
    margin-left: 46%;
    color: #1c5886;
}

button.btn1{
    background-image: linear-gradient(to right, rgba(169,204,238,255) 0%, #F0F8FF  51%, rgba(169,204,238,255)  100%);
      margin: 10px;
      padding: 15px 34px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;            
    
      border-radius: 2px;
      border-color: #fff;
      display: block;
      position: fixed;
      bottom: 20;
      right: 20;
  }





    