
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #1c5886;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #00468b;
    color:aliceblue;
  }

  .delete{
   
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

  .delete:hover {
    background-color: white;
    color: red;
    border: solid 1px red;
  }

.deleteform{
  float: left;

  display: block;
  color: #1c5886;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.editform{
  float: right;

  display: block;
  color: #1c5886;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.edit{
  background-color: #00468b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.edit:hover{
  background-color: white;
  color: #00468b;
  border: solid 1px #00468b;
}

.capability{
border: solid  1px black;
text-align: left;
}

.department{
  border: solid  1px black;
text-align: left;
}

.case{
  border: solid  1px black;
text-align: left;
}