.Departments{
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    

      font-size: medium;
      color: #1c5886;
      border: solid #1c5886;
      height: 210px;
      width: 20%;
    }

  

    .Capabilities{
        position: absolute;
        top: 0;
        left: 307px;
        margin: auto;
        
  
          font-size: medium;
          color: #1c5886;
          border: solid #1c5886;
          width: 20%;
    }
.Cases{
    position: absolute;
    top: 210px;
   left: 0;
    margin: auto;
    

      font-size: medium;
      color: #1c5886;
      border: solid #1c5886;
      height: 210px;
      width: 20%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #1c5886;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #00468b;
    color:aliceblue;
  }

  .delete{
    position: absolute;
    left: 50%;
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

  .delete:hover {
    background-color: white;
    color: red;
    border: solid 1px red;
  }

